.square{
    width: 80px;
    height: 80px;
    font-size: 2.5rem;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border: 2px solid #333;
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.square:hover {
    background-color: #f0f0f0;
}